@model OrchestraManagement_GD.Models.ViewModels.CreateMusicianVM

@{
    var orchestra = (Orchestra)ViewData["Orchestra"];
    ViewData["Title"] = $"Adding a Musican to {orchestra.Name}";
}



<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" required/>
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <input name="orchestraId" value="@orchestra.Id" type="hidden" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSectionLeader" /> @Html.DisplayNameFor(model => model.IsSectionLeader)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="Details" asp-controller="Orchestra" asp-route-id="@orchestra.Id">
    Back to Orchestra Details
</a>


